#ap {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8fe57e;
  height: 100vh;
  width: 100vw;
}

.ap-links {
  font-size: 3vw;
}

.page {
  width: auto;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

#session1 {
  background-color: #30dd83;
}
